0-Clientes/br-iconecta-pf-cliente/src/wsdl/PortafirmasWebService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.3-b01-.--><!--Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.3-b01-.--><definitions targetNamespace="http://webservices.portafirmaswslib.esigna.indenova.com/" name="PortafirmasBanRepWebServiceService" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices.portafirmaswslib.esigna.indenova.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://webservices.portafirmaswslib.esigna.indenova.com/" schemaLocation="PortafirmasWebService.xsd"/>
    </xsd:schema>
  </types>
  <message name="downloadFile">
    <part name="parameters" element="tns:downloadFile"/>
  </message>
  <message name="downloadFileResponse">
    <part name="parameters" element="tns:downloadFileResponse"/>
  </message>
  <message name="getFormByCircuitDef">
    <part name="parameters" element="tns:getFormByCircuitDef"/>
  </message>
  <message name="getFormByCircuitDefResponse">
    <part name="parameters" element="tns:getFormByCircuitDefResponse"/>
  </message>
  <message name="initCircuitBySigners">
    <part name="parameters" element="tns:initCircuitBySigners"/>
  </message>
  <message name="initCircuitBySignersResponse">
    <part name="parameters" element="tns:initCircuitBySignersResponse"/>
  </message>
  <message name="initCircuit">
    <part name="parameters" element="tns:initCircuit"/>
  </message>
  <message name="initCircuitResponse">
    <part name="parameters" element="tns:initCircuitResponse"/>
  </message>
  <message name="getTreeEstructure">
    <part name="parameters" element="tns:getTreeEstructure"/>
  </message>
  <message name="getTreeEstructureResponse">
    <part name="parameters" element="tns:getTreeEstructureResponse"/>
  </message>
  <message name="getCircuitsNoFinalized">
    <part name="parameters" element="tns:getCircuitsNoFinalized"/>
  </message>
  <message name="getCircuitsNoFinalizedResponse">
    <part name="parameters" element="tns:getCircuitsNoFinalizedResponse"/>
  </message>
  <message name="searchCircuits">
    <part name="parameters" element="tns:searchCircuits"/>
  </message>
  <message name="searchCircuitsResponse">
    <part name="parameters" element="tns:searchCircuitsResponse"/>
  </message>
  <message name="cancelCircuit">
    <part name="parameters" element="tns:cancelCircuit"/>
  </message>
  <message name="cancelCircuitResponse">
    <part name="parameters" element="tns:cancelCircuitResponse"/>
  </message>
  <message name="archiveCircuit">
    <part name="parameters" element="tns:archiveCircuit"/>
  </message>
  <message name="archiveCircuitResponse">
    <part name="parameters" element="tns:archiveCircuitResponse"/>
  </message>
  <message name="unarchiveCircuit">
    <part name="parameters" element="tns:unarchiveCircuit"/>
  </message>
  <message name="unarchiveCircuitResponse">
    <part name="parameters" element="tns:unarchiveCircuitResponse"/>
  </message>
  <message name="getCircuitDefPermissions">
    <part name="parameters" element="tns:getCircuitDefPermissions"/>
  </message>
  <message name="getCircuitDefPermissionsResponse">
    <part name="parameters" element="tns:getCircuitDefPermissionsResponse"/>
  </message>
  <message name="copiaCompulsada">
    <part name="parameters" element="tns:copiaCompulsada"/>
  </message>
  <message name="copiaCompulsadaResponse">
    <part name="parameters" element="tns:copiaCompulsadaResponse"/>
  </message>
  <message name="getDefSignersByIdCircuit">
    <part name="parameters" element="tns:getDefSignersByIdCircuit"/>
  </message>
  <message name="getDefSignersByIdCircuitResponse">
    <part name="parameters" element="tns:getDefSignersByIdCircuitResponse"/>
  </message>
  <message name="createTicket">
    <part name="parameters" element="tns:createTicket"/>
  </message>
  <message name="createTicketResponse">
    <part name="parameters" element="tns:createTicketResponse"/>
  </message>
  <message name="closeTicket">
    <part name="parameters" element="tns:closeTicket"/>
  </message>
  <message name="closeTicketResponse">
    <part name="parameters" element="tns:closeTicketResponse"/>
  </message>
  <message name="deleteDocument">
    <part name="parameters" element="tns:deleteDocument"/>
  </message>
  <message name="deleteDocumentResponse">
    <part name="parameters" element="tns:deleteDocumentResponse"/>
  </message>
  <portType name="PortafirmasBanRepWebService">
    <operation name="downloadFile">
      <input wsam:Action="http://webservices.portafirmaswslib.esigna.indenova.com/PortafirmasBanRepWebService/downloadFileRequest" message="tns:downloadFile"/>
      <output wsam:Action="http://webservices.portafirmaswslib.esigna.indenova.com/PortafirmasBanRepWebService/downloadFileResponse" message="tns:downloadFileResponse"/>
    </operation>
    <operation name="getFormByCircuitDef">
      <input wsam:Action="http://webservices.portafirmaswslib.esigna.indenova.com/PortafirmasBanRepWebService/getFormByCircuitDefRequest" message="tns:getFormByCircuitDef"/>
      <output wsam:Action="http://webservices.portafirmaswslib.esigna.indenova.com/PortafirmasBanRepWebService/getFormByCircuitDefResponse" message="tns:getFormByCircuitDefResponse"/>
    </operation>
    <operation name="initCircuitBySigners">
      <input wsam:Action="http://webservices.portafirmaswslib.esigna.indenova.com/PortafirmasBanRepWebService/initCircuitBySignersRequest" message="tns:initCircuitBySigners"/>
      <output wsam:Action="http://webservices.portafirmaswslib.esigna.indenova.com/PortafirmasBanRepWebService/initCircuitBySignersResponse" message="tns:initCircuitBySignersResponse"/>
    </operation>
    <operation name="initCircuit">
      <input wsam:Action="http://webservices.portafirmaswslib.esigna.indenova.com/PortafirmasBanRepWebService/initCircuitRequest" message="tns:initCircuit"/>
      <output wsam:Action="http://webservices.portafirmaswslib.esigna.indenova.com/PortafirmasBanRepWebService/initCircuitResponse" message="tns:initCircuitResponse"/>
    </operation>
    <operation name="getTreeEstructure">
      <input wsam:Action="http://webservices.portafirmaswslib.esigna.indenova.com/PortafirmasBanRepWebService/getTreeEstructureRequest" message="tns:getTreeEstructure"/>
      <output wsam:Action="http://webservices.portafirmaswslib.esigna.indenova.com/PortafirmasBanRepWebService/getTreeEstructureResponse" message="tns:getTreeEstructureResponse"/>
    </operation>
    <operation name="getCircuitsNoFinalized">
      <input wsam:Action="http://webservices.portafirmaswslib.esigna.indenova.com/PortafirmasBanRepWebService/getCircuitsNoFinalizedRequest" message="tns:getCircuitsNoFinalized"/>
      <output wsam:Action="http://webservices.portafirmaswslib.esigna.indenova.com/PortafirmasBanRepWebService/getCircuitsNoFinalizedResponse" message="tns:getCircuitsNoFinalizedResponse"/>
    </operation>
    <operation name="searchCircuits">
      <input wsam:Action="http://webservices.portafirmaswslib.esigna.indenova.com/PortafirmasBanRepWebService/searchCircuitsRequest" message="tns:searchCircuits"/>
      <output wsam:Action="http://webservices.portafirmaswslib.esigna.indenova.com/PortafirmasBanRepWebService/searchCircuitsResponse" message="tns:searchCircuitsResponse"/>
    </operation>
    <operation name="cancelCircuit">
      <input wsam:Action="http://webservices.portafirmaswslib.esigna.indenova.com/PortafirmasBanRepWebService/cancelCircuitRequest" message="tns:cancelCircuit"/>
      <output wsam:Action="http://webservices.portafirmaswslib.esigna.indenova.com/PortafirmasBanRepWebService/cancelCircuitResponse" message="tns:cancelCircuitResponse"/>
    </operation>
    <operation name="archiveCircuit">
      <input wsam:Action="http://webservices.portafirmaswslib.esigna.indenova.com/PortafirmasBanRepWebService/archiveCircuitRequest" message="tns:archiveCircuit"/>
      <output wsam:Action="http://webservices.portafirmaswslib.esigna.indenova.com/PortafirmasBanRepWebService/archiveCircuitResponse" message="tns:archiveCircuitResponse"/>
    </operation>
    <operation name="unarchiveCircuit">
      <input wsam:Action="http://webservices.portafirmaswslib.esigna.indenova.com/PortafirmasBanRepWebService/unarchiveCircuitRequest" message="tns:unarchiveCircuit"/>
      <output wsam:Action="http://webservices.portafirmaswslib.esigna.indenova.com/PortafirmasBanRepWebService/unarchiveCircuitResponse" message="tns:unarchiveCircuitResponse"/>
    </operation>
    <operation name="getCircuitDefPermissions">
      <input wsam:Action="http://webservices.portafirmaswslib.esigna.indenova.com/PortafirmasBanRepWebService/getCircuitDefPermissionsRequest" message="tns:getCircuitDefPermissions"/>
      <output wsam:Action="http://webservices.portafirmaswslib.esigna.indenova.com/PortafirmasBanRepWebService/getCircuitDefPermissionsResponse" message="tns:getCircuitDefPermissionsResponse"/>
    </operation>
    <operation name="copiaCompulsada">
      <input wsam:Action="http://webservices.portafirmaswslib.esigna.indenova.com/PortafirmasBanRepWebService/copiaCompulsadaRequest" message="tns:copiaCompulsada"/>
      <output wsam:Action="http://webservices.portafirmaswslib.esigna.indenova.com/PortafirmasBanRepWebService/copiaCompulsadaResponse" message="tns:copiaCompulsadaResponse"/>
    </operation>
    <operation name="getDefSignersByIdCircuit">
      <input wsam:Action="http://webservices.portafirmaswslib.esigna.indenova.com/PortafirmasBanRepWebService/getDefSignersByIdCircuitRequest" message="tns:getDefSignersByIdCircuit"/>
      <output wsam:Action="http://webservices.portafirmaswslib.esigna.indenova.com/PortafirmasBanRepWebService/getDefSignersByIdCircuitResponse" message="tns:getDefSignersByIdCircuitResponse"/>
    </operation>
    <operation name="createTicket">
      <input wsam:Action="http://webservices.portafirmaswslib.esigna.indenova.com/PortafirmasBanRepWebService/createTicketRequest" message="tns:createTicket"/>
      <output wsam:Action="http://webservices.portafirmaswslib.esigna.indenova.com/PortafirmasBanRepWebService/createTicketResponse" message="tns:createTicketResponse"/>
    </operation>
    <operation name="closeTicket">
      <input wsam:Action="http://webservices.portafirmaswslib.esigna.indenova.com/PortafirmasBanRepWebService/closeTicketRequest" message="tns:closeTicket"/>
      <output wsam:Action="http://webservices.portafirmaswslib.esigna.indenova.com/PortafirmasBanRepWebService/closeTicketResponse" message="tns:closeTicketResponse"/>
    </operation>
    <operation name="deleteDocument">
      <input wsam:Action="http://webservices.portafirmaswslib.esigna.indenova.com/PortafirmasBanRepWebService/deleteDocumentRequest" message="tns:deleteDocument"/>
      <output wsam:Action="http://webservices.portafirmaswslib.esigna.indenova.com/PortafirmasBanRepWebService/deleteDocumentResponse" message="tns:deleteDocumentResponse"/>
    </operation>
  </portType>
  <binding name="PortafirmasBanRepWebServicePortBinding" type="tns:PortafirmasBanRepWebService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="downloadFile">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getFormByCircuitDef">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="initCircuitBySigners">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="initCircuit">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getTreeEstructure">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getCircuitsNoFinalized">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="searchCircuits">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="cancelCircuit">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="archiveCircuit">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="unarchiveCircuit">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getCircuitDefPermissions">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="copiaCompulsada">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getDefSignersByIdCircuit">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="createTicket">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="closeTicket">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="deleteDocument">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="PortafirmasBanRepWebServiceService">
    <port name="PortafirmasBanRepWebServicePort" binding="tns:PortafirmasBanRepWebServicePortBinding">
      <soap:address location="http://192.168.12.152:80/PortaFirmas/PortafirmasWebService"/>
    </port>
  </service>
</definitions>